{% extends '@EasyAdmin/page/content.html.twig' %}

{% block page_title 'Log files' %}
{% block page_content %}
	<table class="table datagrid {% if files is empty %}datagrid-empty{% endif %}">
		<thead>
		<tr>
			<th class="header-for-field-text">Name</th>
			<th class="header-for-field-text">Size</th>
			<th class="header-for-field-text">Path</th>
			<th class="header-for-field-text">UpdatedOn</th>
			<th></th>
		</tr>
		</thead>
		<tbody>
		{% for file in files %}
			<tr>
				<td><a href="{{ ea_url().setRoute('easy_admin_log_viewer_download', {path: file.path}) }}">{{ file.name }}</a></td>
				<td>{{ file.humanSize }}</td>
				<td>{{ file.path }}</td>
				<td>{{ file.lastUpdatedAt|format_datetime() }}</td>
				<td class="actions">
					<a class="action"
						 href="{{ ea_url().setRoute('easy_admin_log_viewer_show', {path: file.path}) }}" ><span class="action-label">Show</span></a>

					<a class="action text-danger"
						 href="{{ ea_url().setRoute('easy_admin_log_viewer_delete', {path: file.path}) }}" ><span class="action-label">Delete</span></a>
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>

{% endblock %}
